@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="banner"><img src="images/banner.png" class="img-fluid" alt="alt"></div>
    <div class="info">
        <div class="maintitle">Your Pet Adoption Journey</div>
        <div class="d-flex justify-content-around">
            <div class="elem">
                <div class="title">Search</div>
                <div class="photo"><img src="images/protest.png" class="img-fluid mx-auto" alt="alt"></div>
                <div class="cont">It's easy to find a dog or cat who's right for you at a shelter or rescue group. Simply enter your zip code above to start your search.</div>
            </div>
            <div class="elem">
                <div class="title">Meet</div>
                <div class="photo"><img src="images/paws.png" class="img-fluid mx-auto" alt="alt"></div>
                <div class="cont">Once you find a pet, click "learn more about me" to get contact info for their shelter or rescue. Contact them to learn more about how to meet and adopt the pet.</div>
            </div>
            <div class="elem">
                <div class="title">Adopt</div>
                <div class="photo"><img src="images/animal-care.png" class="img-fluid mx-auto" alt="alt"></div>
                <div class="cont">The rescue or shelter will walk you through their adoption process. Prepare your home for the arrival of your dog or cat to help them adjust to their new family.</div>
            </div>
        </div>
    </div>
</div>
