html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
    color: #16c4b0;
}

body {
    margin-bottom: 60px;
}

.info{
    padding: 1%;
}

.info .maintitle{
    padding: 1%;
    color: #16c4b0;
    font-size: 30px;
}

.info .elem{
    width: 30%;
}

.info .elem .title {
    padding: 1%;
    color: #16c4b0;
    font-size: 20px;
}

.info .elem .photo {
    padding: 10%;
}

.info .elem .cont {
    color: #16c4b0;
}